<main id="main" class="main">
  <div class="pagetitle">
    <h1>Ajout Departement</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Departement</a></li>
        <li class="breadcrumb-item">Ajout</li>

      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Formulaire d'ajout d'un Departement</h5>

            <!-- General Form Elements -->
            <form #departementForm="ngForm" (ngSubmit)="ondepartementCreate(departementForm.value)">
              <div class="col-sm-10">
                <label for="inputText" class="col-sm-2 col-form-label">Nom </label>

                <input type="text"  #nom="ngModel" class="form-control" name="nom"  required minlength="3" maxlength="50" 
                 [(ngModel)]="departement.nom">
                 
                 <div *ngIf="nom.errors?.['minlength']" style="color: red;">
                  <i class="bi bi-exclamation-octagon me-1"></i>Minimum 3 caracteres Max 50.
                </div>
                 
                
               

                   



                  

                  </div>
               
          
          
              <div class="col-sm-10">
                <label for="inputText" class="col-sm-2 col-form-label">Universite</label>
                <select class="form-select" name="universiteId" [(ngModel)]="departement.universiteId" > 
                  <option *ngFor="let item of myuniversite$ | async" value="{{item.id}}" > {{item.nom}}</option>
                </select>
              </div>
            


              <div class="row mb-3">

                <div class="col-sm-12">
                  <button type="submit" [disabled]="departementForm.invalid" class="btn btn-primary d-flex"
                    style=" margin-left:auto">Okay</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>


    </div>
  </section>


</main><!-- End #main -->