<main id="main" class="main">
  <div class="pagetitle">
    <h1>List Table</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Liste</li>
        <li class="breadcrumb-item active">Table</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Liste Des Departements</h5>

            <!-- Active Table -->
            <table class="table">
              <thead>
                <tr>

                  <th scope="col">Nom Departement</th>
                  <th scope="col">Université</th>
                  <th></th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mydata$ | async" [ngClass]="{'table-danger': (((item.nom == null)) ||(item.universiteId == null)) }">

                  <td>{{item.nom}}</td>
                  <td>{{item.universite.nom}}</td>
            
            
                  <td>
                    <td>
                      <button type="button" (click)="edit(item.id)" class="btn btn-dark active" style="margin-right: 10px;"><i class="bi bi-brush"></i></button>
                      <button type="button" (click)="delete(item.id)" class="btn btn-danger active"><i id="delete" class="bi bi-trash3"></i></button>
                    </td>
                </tr>




              </tbody>
            </table>
            <!-- End Active Table -->

          </div>
        </div>

      </div>


    </div>
  </section>


</main><!-- End #main -->