 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="home">
        <i class="bi bi-grid"></i>
        <span>Home</span>
      </a>
    </li><!-- End Dashboard Nav -->
   
    <li class="nav-heading">Pages</li>
 



    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#etudiant-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Etudiant</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="etudiant-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="ajout_etudiant">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="liste_etudiant">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->



    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#equipe-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Equipe</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="equipe-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="ajout_equipe">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="liste_equipe">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#detailEquipe-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Detail Equipe</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="detailEquipe-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="ajout_detailEquipe">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="liste_detailEquipe">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->



    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#dep-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Departement</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="dep-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="ajout_dep">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="list_dep">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->

  

    
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#contrat-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Contrat</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="contrat-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="ajout_contrat">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="list_contrat">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>

    
       
      </ul>
    </li><!-- End Components Nav -->

  
   
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#pai-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Paiement</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="pai-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="Ajout_paiement">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="liste_paiement">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->



    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#ens-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Enseignant</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="ens-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="ajout_enseignant">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="liste_enseignant">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->




    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#cours-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Cours</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="cours-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="ajout_cours">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="liste_cours">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->




    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#club-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Club</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="club-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="club_add">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="club_list">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#adherent-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Adherent</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="adherent-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="ajout_adherent">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
        <li>
          <a routerLink="liste_adherent">
            <i class="bi bi-circle"></i><span>Liste</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#univ-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Universite</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="univ-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
      
        <li>
          <a routerLink="universite_list">
            <i class="bi bi-circle"></i><span>List</span>
          </a>
        </li>
        <li>
          <a routerLink="universite_add">
            <i class="bi bi-circle"></i><span>Ajouter</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Components Nav -->





  </ul>

</aside><!-- End Sidebar-->