<p>paiement-list works!</p>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>List Table</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item">Liste</li>
        <li class="breadcrumb-item active">Table</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">List Des Clubs</h5>
            <h6>Recherche <input name="query" (input)="onSearchChange($any($event.target).value)"> </h6>
            <button class="btn btn-light" [disabled]="page==1" (click)="decSearch()">
              <i class="bi bi-arrow-left"></i>
            </button>
              {{page}}
            <button class="btn btn-light" (click)="incSearch()">
              <i class="bi bi-arrow-right"></i>
            </button>
            <!-- Active Table -->
            <table class="table" id="myTable">
              <thead>
                <tr>

                  <th scope="col">date Creation</th>
                  <th scope="col">Nom Du Club</th>
                  <th scope="col">Description Du Club </th>

                  <th></th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mydata$ | async"[ngClass]="{'table-danger': ((item.id.length < 1)|| ((item.description.length < 1))||
                 ((item.dateCreation.length < 1)) ||(item.nom.length < 1)) }">

                  <td>{{item.dateCreation | date:'yyyy-MM-dd'}}</td>
                  <td>{{item.nom}}</td>
                  <td>{{item.description}}</td>


                  <td><button type="button" (click)="edit(item.id)" class="btn btn-dark active"
                      style="margin-right: 10px;"><i class="bi bi-brush"></i></button>
                      <app-club-delete [id]=item.id  (confirmfunction)="confirmfunction($event)"></app-club-delete>
                  </td>
                </tr>




              </tbody>
            </table>
            <!-- End Active Table -->

          </div>
        </div>

      </div>


    </div>
  </section>


</main><!-- End #main -->